html {
	overflow: hidden;
  background-color: blue !important;
}

.nav-menu-link.journal {
	opacity: 1.0 !important;
}

.nav-button-bg {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  mask-image: linear-gradient(90deg, black, transparent);
}

.cursor-wrapper {
	z-index: 1000;
}

.swiper-slide-active {
	opacity: 1.0;
}

.swiper-slide-active .swiper-slide-image {
	filter: blur(0);
}

.swiper-slide {
  width: auto !important;
  transition-property: all !important;
}

.swiper-pagination-bullet {
		width: 100%;
    height: 100%;
    display: inline-block;
    /* border-radius: 50%; */
    background: rgba(255,255,255,1);
    opacity: .1;
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
    background: rgba(255,255,255,1) !important; 
    opacity: 1.0 !important;
    
}

a:active {
    background-color: transparent !important;
}

.hover-only:active {

	pointer-events: none;

}

.nav-menu-link.w--current {

	opacity: 1.0 !important;

}

@media screen and (max-width: 767px)  {

  .nav-menu-link.w--current {
    font-size: 2em;
  }

}

/* Disable Custom Cursor on iPad Pro */
@media only screen
 and (min-device-width: 1024px)
 and (max-device-width: 1024px)
 and (orientation: portrait)
 and (-webkit-min-device-pixel-ratio: 2) {

  body {
     cursor: default;
  }

  .cursor-wrapper {
     display: none;
  }

  a {
     cursor: pointer;
  }
  
 }